<div *ngIf="(userProfile$ | async); let user;" class="wrapper">
    <!-- ---- PROFILE ---- -->
    <div class="leftdiv">
        <div class="userdiv">
            <img src="{{user ? user.picture : 'https://images-ext-2.discordapp.net/external/pViXnUyCMi0jsx8mNDB13oL36CnRTes_D6sZLXH2xEY/https/cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png' }}"
                class="profileImg" />

            <span class="edit">
                <svg (click)="fileInput.click()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path
                        d="M421.7 220.3l-11.3 11.3-22.6 22.6-205 205c-6.6 6.6-14.8 11.5-23.8 14.1L30.8 511c-8.4 2.5-17.5 .2-23.7-6.1S-1.5 489.7 1 481.2L38.7 353.1c2.6-9 7.5-17.2 14.1-23.8l205-205 22.6-22.6 11.3-11.3 33.9 33.9 62.1 62.1 33.9 33.9zM96 353.9l-9.3 9.3c-.9 .9-1.6 2.1-2 3.4l-25.3 86 86-25.3c1.3-.4 2.5-1.1 3.4-2l9.3-9.3H112c-8.8 0-16-7.2-16-16V353.9zM453.3 19.3l39.4 39.4c25 25 25 65.5 0 90.5l-14.5 14.5-22.6 22.6-11.3 11.3-33.9-33.9-62.1-62.1L314.3 67.7l11.3-11.3 22.6-22.6 14.5-14.5c25-25 65.5-25 90.5 0z" />
                </svg>
                <input (change)="onFileSelected($event)" #fileInput type="file" name="" id="" id="fileUpload"
                    style="display: none;">
            </span>
            <!-- <button style="float:right" (click)="showProfileJson()">Console log Profile json & profile DB</button> -->
            <div class="infodiv">
                <h2 class="text">{{user.name}} Leandro{{user.lastname}} De Filippis</h2>
                <h3>{{user.mail}}</h3>
                <h4 *ngIf="user.verified === 'verified'" style="color: green">&#x2714;Your email is verified</h4>
                <h5 *ngIf="user.verified === 'not_verified'" style="color: red; font-weight: 400;">
                    <button style="size: 50%" (click)="verifyAccount()" type="button"
                        class="btn btn-outline-danger btn-sm">Verify</button>
                    &#x2716; Your account is not verified
                </h5>
                <!-- ---- EMAIL ---- -->
                <div>

                    <div *ngIf="user.verified === 'pending'">

                        <form>
                            <p>Please enter the security code which you received in your email</p>
                            <input #code name="code" value="" type="string" placeholder="Insert the code">
                            <button style="size: 50%" (click)="sendVerificationCode(code.value)" type="button"
                                class="btn btn-outline-warning btn-sm">Verify</button>
                        </form>
                    </div>
                </div>
            </div>
            <p style="color:red" *ngIf="error">{{error.error.msg}}</p>
        </div>
    </div>

    <ngb-accordion style="min-width: 77%;" #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel title="MY HOUSES CREATE">
            <ng-template ngbPanelContent>
                <div class="card-body">
                    <div *ngFor="let hou of userProfile.Houses" class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{{hou.picture[0]}}" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">{{hou.country}}, {{hou.city}}</p>
                            <p class="info">{{hou.rooms}} room/s</p>
                            <p class="info">{{hou.bathrooms}} bathroom/s</p>
                            <h3 class="info">
                                <span *ngIf="hou.allowpets as value; else elseBlock">Pets: <span
                                        style="color: green">✓</span></span>
                                <ng-template #elseBlock>Pets: <span style="color: red">✕</span></ng-template>
                                <span style="margin-left: 5%"><span *ngIf="hou.wifi as value; else elseBlockwifi">Wi-Fi:
                                        <span style="color: green">✓</span></span>
                                    <ng-template #elseBlockwifi>Wi-Fi: <span style="color: red">✕</span></ng-template>
                                </span>
                            </h3>
                            <h3 class="info">Occupants: {{hou.maxpeople}} </h3>
                            <h3 class="price" *ngIf="hou.country"> USD ${{hou.price}}</h3>

                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-panel>
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>MY FAVORITES HOUSES</span>
            </ng-template>
            <ng-template ngbPanelContent>
                <div class="favdiv">
                    <div class="housecard" *ngFor="let house of favoritesHouses">
                        <div class="updiv">
                            <a routerLink="/housedetail/{{house.id}}">
                                <img class="image" src={{house.picture[0]}} />
                            </a>
                        </div>
                        <div class="firstdiv">
                            <div class="namediv">
                                <h2 class="name">{{house.country}}, {{house.city}}</h2>
                            </div>
                            <div class="remove">
                                <button id="removefav" class="favourites"
                                    (click)="deleteFavorite(house.id, user.id)">❤</button>
                            </div>
                        </div>

                        <div class="botdiv">
                            <h3 class="info">{{house.rooms}} room/s</h3>
                            <h3 class="info">{{house.bathrooms}} bathroom/s</h3>
                            <h3 class="info">
                                <span *ngIf="house.allowpets as value; else elseBlock">Pets: <span
                                        style="color: green">✓</span></span>
                                <ng-template #elseBlock>Pets: <span style="color: red">✕</span></ng-template>
                                <span style="margin-left: 5%"><span
                                        *ngIf="house.wifi as value; else elseBlockwifi">Wi-Fi: <span
                                            style="color: green">✓</span></span>
                                    <ng-template #elseBlockwifi>Wi-Fi: <span style="color: red">✕</span></ng-template>
                                </span>
                            </h3>
                            <h3 class="info">Occupants: {{house.maxpeople}} </h3>
                        </div>
                        <h3 class="price" *ngIf="house.country"> USD ${{house.price}}</h3>
                    </div>

                </div>
            </ng-template>
        </ngb-panel>
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>MY REVIEWS</span>
            </ng-template>
            <ng-template ngbPanelContent>
                <div class="card-body">
                    <div *ngFor="let rev of userProfile.Reviews">
                        <div class="card">
                            <div class="card-header">
                                <span class="card-title">House: {{rev.HouseId}}</span>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"></h5>
                                <p class="card-text">{{rev.opinion}}</p>
                            </div>

                            <div class="card-footer">
                                <span class="card-subtitle mb-2 text-muted"> {{rev.userEmail}} | {{rev.createdAt
                                    |
                                    date:"short" }}</span>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>



    <p *ngIf="!(userProfile$ | async)">loading...</p>