.edit svg{
  width: 2rem;
  fill: rgba(0, 0, 0, 0.604);
}
.edit svg:hover{
  transform: scale(1.1);
  cursor: pointer;
  fill: rgb(0, 0, 0);

}
.pencil{
  background-color: black;
  border: 0;
}
.profileImg{
  width: 12rem;
}

