h1, h4 {
  text-align: center;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr); */
}
ul li{
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.darkmode{
.container-img{
.container_social-medias{
  background-color: #303030;
}
}
}
img {
  width: 250px;
  height: 250px;
  border-radius: 100%;
}
.container-img{
  position: relative;
  .container_social-medias{
    background-color: #fafafae2;

    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: all 1s;

    a{
      margin: .5rem;
      .svg-linkedin{
        fill: rgba(0, 0, 0, 0.605);
        transition: all .5s;
      }
      .svg-github{
        fill: rgba(0, 0, 0, 0.605);
        transition: all .5s;
      }
      .svg-linkedin:hover{
        fill: #0a66c2;
        transform: scale(1.1);
      }
      .svg-github:hover{
        fill: rgb(0, 0, 0);
        transform: scale(1.1);
      }
    }
  }
  &:hover .container_social-medias{
    height: 17%;
  }
}


@media screen and (max-width: 600px) {
  h1{
    font-size: 1.5rem;
    margin-top: 0.3rem;
  }
  ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    li{
      width: 100%;
    }
  }
  .container-img .container_social-medias{
    height: 20%;
  }
  .container-img h3{
    width: 100%;
  }
}
