h1, h4 {
  text-align: center;
}

ul {
  /*display: flex;
  flex-direction: row; */
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

img {
  width: 250px;
  height: 250px;
  border-radius: 100%;
}

@media screen and (max-width: 600px) {
  h1{
    font-size: 1.5rem;
    margin-top: 0.3rem;
  }
  ul{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
