@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.background{
  position: relative;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("../../../assets/background.jpg");
  border-left: 1px solid #96969681;
  border-right: 1px solid #96969681;
}

.container{
  min-height: 79vh;
}

.flex{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bodydiv {
  min-height: 70vh;
  width: 120%;
  padding: 1rem;
  padding-top: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 3rem;
  border-radius: 1rem;
}

.grid {
  display: grid;
  justify-content: center;
  grid-template-columns: 25% 25% 25% 25%;
}

.grid .grid-content {
  justify-self: center;
}

.cardsrender {
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  width: 80%;
}
.navigation{
  width: 110%;
  margin-top: 4rem;
  margin-bottom: 2rem;
  animation: fadein 3s;
}

.filtersdiv {
  background: none;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginado {
  display: flex;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.368);
  border-left: none;
  border-right: none;
  border-radius: 5px;
  color: rgb(52, 52, 52);
  font-size: 16px;
  width: 70%;
  margin-right: 2rem;
}

/* //////////// FILTERS MODAL ////////////// */

.altfilters{
  margin-top: 2rem;
  margin-bottom: 1rem;
  height: 3.6rem;
  width: 10rem;
  transition: all .2s;
  border: 1px solid rgba(0, 0, 0, 0.368);
  background-color: #fafafa;
  border-radius: 5px;
}

.altfilters:hover {
  transform: scale(1.05);
}

.filters{
  height: 3.6rem;
  width: 5rem;
  transition: all .2s;
  border: 1px solid rgba(0, 0, 0, 0.368);
  background-color: #fafafa;
  border-radius: 5px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.filters:hover {
  transform: scale(1.05);
}

.filtershead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 5rem;
  margin-bottom: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.headtitle {
  font-size: 30px;
  margin-top: 1rem;
}

.ptitle {
  margin-top: -0.5rem;
}

.modalbutton {
  height: 30px;
  width: 35px;
  color: #000;
  background: none;
  border: 0;
  font-size: 30px;
}

#closemodal {
  position: absolute;
  top: 1rem;
  left: 90%;
}

.sectiondiv {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: var(--bs-modal-header-border-width) solid var(--bs-modal-header-border-color);
  border-top-left-radius: var(--bs-modal-inner-border-radius);
  border-top-right-radius: var(--bs-modal-inner-border-radius);
}

.selectdiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.filter-select {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  font-size: .875rem;
  border-color: rgba(92, 92, 92, 0.275);
  border-radius: 0.25rem;
  width: 9rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.filter-select:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.15rem rgb(13 110 253 / 25%);
}

#margin {
  margin-top: 1rem;
}

.modal-footer button {
  transition: .3s all;
}

.modal-footer button:hover {
  transform: scale(1.03);
}

.footer{
  width: 100%;
  border-top: 1px solid #A4A4A4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
}

/* Estilado para el dark mode */

.darkmodeModal {
  background-color: #303030;
  color: white;
}
.darkmodeModal mat-label{
  color: white;
}
.darkmodeModal mat-form-field{
  color: white;
}
.darkmodeModal .modal-footer button {
  background-color: #6e6e6e5d;
  color: white;
}
.darkmodeModal .modal-footer button:hover {
  background-color: #6e6e6eb9;
  color: white;
}
.darkmodePaginator{
  color: white;
}

.container-order {
  position: relative;
}

.container-order .order-options {
  position: absolute;
  background-color: white;
  width: 15rem;
  height: auto;
  z-index: 99;
  display: none;
  bottom: -3.1rem;
  border: 1px solid rgba(128, 128, 128, 0.552);
  border-radius: 5px;

}

.buttonOrder {
  height: 3.6rem;

  transition: all .2s;
  border: 1px solid black;
  border-radius: 6px;
}

.buttonOrder:hover {
  transform: scale(1.05);
}

.container-order .orderOn {
  background-color: #30303074;
}

.container-order .showDiv {
  display: block;
  display: flex;
  flex-direction: column;
}

.container-order .showDiv:hover {
  display: block;
  display: flex;
  flex-direction: column;
}

.container-order .showDiv button {
  border: 0;
  font-size: 1.2rem;
  background-color: white;
}

.container-order .showDiv .active {
  background-color: rgba(128, 128, 128, 0.552);
}

.container-order .showDiv button:hover {
  background-color: rgba(128, 128, 128, 0.552);
}

.alternative_home {
  display: grid;
  justify-items: center;
  justify-content: center;
}

.alternativehome_buttonFilter {
  justify-items: center;
  justify-content: center;
  align-items: center;
  gap: 1%;
  margin-top: 1rem;
  min-width: 10rem;
  max-height: 2.8rem;
  transition: all .2s;
  border: 1px solid black;
  border-radius: 6px;
}

.alternativehome_buttonFilter:hover{
  transform: scale(1.05);
}

.noHouses{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* //////////////////////////RESPONSIVE////////////////////////// */

@media only screen and (min-width: 1500px) {
  .grid {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 20% 20% 20% 20% 20%;
  }
}

@media screen and (max-width: 500px) {
  .grid {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 100%;
  }
  .navigation{
    margin-top: 0.5rem;
  }
  .filtersdiv{
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .paginado{
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 0.8rem;
  }
}