@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.container{
  min-height: 79vh;
}
.flexdiv {
  display: flex;
  flex-direction: column;
}

.bodydiv {
  width: 100%;
  height: fit-content;
}

.grid{
  display: grid;
  justify-content: center;
  grid-template-columns: 25% 25% 25% 25%;
}
.grid .grid-content{
  justify-self: center;
}

.cardsrender {
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  width: 80%;
}
.paginadoYfiltros{
  animation: fadein 5s;
  border: 0;
  margin-top: 2rem;

}

.card-header{
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


.paginado {
  display: flex;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.184);
  width: 100%;
}
.footer{
  width: 100%;
}
.buttonFilter{
  height: 3.6rem;

  transition: all .2s;
  border: 1px solid black;
  border-radius: 6px;
}
.buttonFilter:hover{
  transform: scale(1.05);
}
.modal-footer button{
  transition: .3s all;
}
.modal-footer button:hover{
  transform: scale(1.03);
}

.footer {
  margin-top: 3rem;
  border-top: 1px solid #A4A4A4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  position: absolute;
  bottom: 0;
  animation: fadein 8s;

}
/* Estilado para el dark mode */
/* .darkmode {
  background-color: #3030309a;
  color: white;
  transition: all .5s;
}

.darkmode .filtersdiv {
  background-color: #303030;
  transition: all .5s;
}

.darkmode .card-header {
  border: 0;
  background-color: #3030309a;
  transition: all .7s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.darkmode .filters {
  background-color: #5252525d;
  height: 3.6rem;
  transition: all 0.2s;
  color: white;
  border: 1px solid rgb(78, 78, 78);
}

.darkmode .paginado {
  background-color: #5252525d;
  color: white;
}

.darkmode .paginado span span {
  background-color: #7b7b7b5d;
  color: white;
}

.darkmodeModal {
  background-color: #303030;
  color: white;
}

.darkmodeModal .modal-footer button {
  background-color: #6e6e6e5d;
  color: white;
}

.darkmodeModal .modal-footer button:hover {
  background-color: #6e6e6eb9;
  color: white;
}


.darkmodeFooter{
  background-color: #303030;
  border-top: 1px solid #232323;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
} */

/*Mediaqueries  */
@media only screen and (min-width: 1500px) {
  .grid {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 20% 20% 20% 20% 20%;
  }
}

.container-order {
  position: relative;
}

.container-order .order-options {
  position: absolute;
  background-color: white;
  width: 15rem;
  height: auto;
  z-index: 99;
  display: none;
  bottom: -3.1rem;
  border: 1px solid rgba(128, 128, 128, 0.552);
  border-radius: 5px;

}

.buttonOrder {
  height: 3.6rem;

  transition: all .2s;
  border: 1px solid black;
  border-radius: 6px;
}

.buttonOrder:hover {
  transform: scale(1.05);
}

.container-order .orderOn {
  background-color: #30303074;
}

.container-order .showDiv {
  display: block;
  display: flex;
  flex-direction: column;
}

.container-order .showDiv:hover {
  display: block;
  display: flex;
  flex-direction: column;
}

.container-order .showDiv button {
  border: 0;
  font-size: 1.2rem;
  background-color: white;
}

.container-order .showDiv .active {
  background-color: rgba(128, 128, 128, 0.552);
}

.container-order .showDiv button:hover {
  background-color: rgba(128, 128, 128, 0.552);
}

@media screen and (max-width: 600px) {
  .grid {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 100%;
  }
  .navigation{
    margin-top: 0.5rem;
  }
    .filtersdiv{
      display: flex;
      flex-direction: column;
      align-content: center;
    }
    .paginado{
      margin-bottom: 0.5rem;
      width: 100%;
      font-size: 0.8rem;
    }
}
