<br>
<mat-card>
    <mat-paginator class="paginado" [length]="allHouses.length" [pageSize]="page_size"
        [pageSizeOptions]="page_size_options" (page)="handlePage($event)" showFirstLastButtons=""></mat-paginator>
</mat-card>



<mat-card-content class="cardFilter">

    <div class="container">
    
        <button style="margin-right: 2%" (click)="handleOrder('')" *ngIf="order === 'min'" type="button"
        class="btn btn-primary btn-sm">Min</button>
    <button style="margin-right: 2%" (click)="handleOrder('min')" *ngIf="order !== 'min'" type="button"
        class="btn btn-secondary btn-sm">Min</button>

    <button style="margin-right: 2%" (click)="handleOrder('')" *ngIf="order === 'max'" type="button"
        class="btn btn-primary btn-sm">Max</button>
    <button style="margin-right: 2%" (click)="handleOrder('max')" *ngIf="order !== 'max' || order === undefined" type="button"
        class="btn btn-secondary btn-sm">Max</button>

    <button style="margin-right: 2%" (click)="handleCheckboxP(false)" *ngIf="allowpets === true" type="button"
            class="btn btn-primary btn-sm">Allow Pets</button>
        <button style="margin-right: 2%" (click)="handleCheckboxP(true)"
            *ngIf="allowpets === undefined || allowpets === false" type="button" class="btn btn-secondary btn-sm">Allow
            Pets</button>

        <button style="margin-left: 2%" (click)="handleCheckboxW(false)" *ngIf="wifi === true" type="button"
            class="btn btn-primary btn-sm">With Wi-Fi</button>
        <button style="margin-left: 2%" (click)="handleCheckboxW(true)" *ngIf="wifi === undefined || wifi === false"
            type="button" class="btn btn-secondary btn-sm">With Wi-Fi</button>

    </div>
    <div class="container">

        <mat-form-field appearance="outline">
            <mat-label>Min price</mat-label>
            <input type="number" matInput placeholder="USD" [(ngModel)]="minPrice" (input)="handlePriceMin($event)">
            <mat-icon matPrefix>dolar_symbol</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Max price</mat-label>
            <input type="number" matInput placeholder="USD" [(ngModel)]="maxPrice" (input)="handlePriceMax($event)">
            <mat-icon matPrefix>dolar_symbol</mat-icon>
        </mat-form-field>


        <select [(ngModel)]='selectedCountry' (change)="handleCountry(selectedCountry)"
            style="max-height: 38px; max-width: 20%;" class="form-select form-select-sm"
            aria-label="Ejemplo de .form-select-lg" appearance="outline">
            <option selected value="">Select a country</option>
            <option *ngFor="let country of countriesInDB" value="{{country}}">{{country}}</option>
        </select>

        <select *ngIf="selectedCountry?.length" name="ciudades" [(ngModel)]="selectedCity" id=""
            style="max-height: 38px; max-width: 20%;" aria-label="Ejemplo de .form-select-lg"
            class="form-select form-select-sm" appearance="outline" (change)="handleCity(selectedCity)">
            <option *ngFor="let ciudades of city" [ngValue]="ciudades">
                {{ciudades}}
            </option>
        </select>
    </div>
</mat-card-content>




<hr />
<div class="container">
    <app-house class="card_house" *ngFor="let house of allHouses$ | async | paginate: page_size:page_number"
        [house]="house" [dbProfile]="dbProfile">
    </app-house>
</div>

<mat-card-content>
    <div class="container">
        <app-house class="card_house" *ngFor="let house of allHouses$ | async | paginate: page_size:page_number"
            [house]="house" [dbProfile]="dbProfile">
        </app-house>
    </div>

</mat-card-content>
