<div class="container_payment" >
  <div class="payment" >
    <h2>Request to book</h2>
    <h3>Your trip</h3>
    <p>Dates <span>{{paymentInfo.start}} - {{paymentInfo.end}} </span></p>
    <p>Guests: <span>{{0}}</span></p> <!-- TODO: hacer esto del lado del house detail -->

    <h3>Pay with</h3>
    <div id="cardPaymentBrick_container"></div>
    <div id="statusScreenBrick_container"></div>
  </div>
  <div class="houseInfo">
    <p>{{house.city}}</p>
  </div>
</div>
<button (click)="showInfo()">MOSTRAR</button>

