<div class="grid-container">
  <h1 class="mat-h1">Dashboard Admin</h1>
  <mat-grid-list cols="1" rowHeight="500px">
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            
            <h2 class="mat-h2">Hostings Activated</h2>

            <button (click)="redirectHA()">See all</button>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-table-house-a></app-table-house-a>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>


    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>

            <h2 class="mat-h2">Hostings Desactivated</h2>

            <button (click)="redirectHD()">See all</button>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-table-house-d></app-table-house-d>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>

            <h2 class="mat-h2">Users Activated</h2>

            <button (click)="redirectUA()">See all</button>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-table-user-a></app-table-user-a>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>


    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>

            <h2 class="mat-h2">Users Desactivated</h2>


            <button (click)="redirectUD()">See all</button>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-table-user-d></app-table-user-d>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>


  </mat-grid-list>