<div [ngClass]="darkmode? 'background darkmode':'background'">
    <div class="wrapper">
        <section class="gallery">
            <div class="topdiv">
                <button class="button" routerLink="/home">🡠</button>
                <img id="preview" class="mainimg" src="{{house.picture[0]}}" alt="Image" >
                <div class="rows">
                    <div class="column">
                        <img class="sideimg active" [ngClass]="!house.picture[3] ? 'upcornerimg' : ''" src="{{house.picture[0]}}" alt="Image" Gallery>
                        <img *ngIf="house.picture[1]" class="sideimg" src="{{house.picture[1]}}" alt="Image" Gallery>
                        <img *ngIf="house.picture[2]" class="sideimg" [ngClass]="!house.picture[5] ? 'botcornerimg' : ''" src="{{house.picture[2]}}" alt="Image" Gallery>
                    </div>
                    <div *ngIf="house.picture[3]" class="column">
                        <img class="sideimg" [ngClass]="!house.picture[6] ? 'upcornerimg' : ''" src="{{house.picture[3]}}" alt="Image" Gallery>
                        <img *ngIf="house.picture[4]" class="sideimg" src="{{house.picture[4]}}" alt="Image" Gallery>
                        <img *ngIf="house.picture[5]" class="sideimg" [ngClass]="!house.picture[8] ? 'botcornerimg' : ''" src="{{house.picture[5]}}" alt="Image" Gallery>
                    </div>
                    <div *ngIf="house.picture[6]" class="column">
                        <img class="sideimg" [ngClass]="!house.picture[9] ? 'upcornerimg' : ''" src="{{house.picture[6]}}" alt="Image" Gallery>
                        <img *ngIf="house.picture[7]" class="sideimg" src="{{house.picture[7]}}" alt="Image" Gallery>
                        <img *ngIf="house.picture[8]" class="sideimg" [ngClass]="!house.picture[11] ? 'botcornerimg' : ''" src="{{house.picture[8]}}" alt="Image" Gallery>
                    </div>
                </div>
            </div>   
        </section>

        <div class="body">
            <div class="infodiv">
                <h3 class="location">{{house.country}}, {{house.city}}</h3>
                <div class="flex">
                    <h3 class="price"> ARS ${{house.price}}</h3>
                    <app-reviews></app-reviews>
                </div>
                <h3 class="info">
                    <span *ngIf="house.allowpets as value; else elseBlock">Pets: <span style="color: green">✓</span></span>
                    <ng-template #elseBlock>Pets: <span style="color: red">✕</span></ng-template>
                    <span style="margin-left: 0.5%"><span *ngIf="house.wifi as value; else elseBlockwifi">Wi-Fi: <span
                                style="color: green">✓</span></span>
                        <ng-template #elseBlockwifi>Wi-Fi: <span style="color: red">✕</span></ng-template>
                    </span>
                </h3>
                <p class="info">{{house.rooms}} room/s</p>
                <p class="info">{{house.bathrooms}} bathroom/s</p>
                <h3 class="info">{{house.maxpeople}} occupant/s</h3>
            </div>

            <div class="bookingdiv">
                <div class="booking">
                    <div class="makebooking">
                        <form class="form" [formGroup]="form">
                            <h2 class="text">Make a booking:</h2>
                            <mat-form-field>
                                <mat-date-range-input [rangePicker]="picker" [dateFilter]="unavailableDays" formGroupName="daterange">
                                    <input matStartDate placeholder="Start date" formControlName="start">
                                    <input matEndDate placeholder="End date" formControlName="end">
                                </mat-date-range-input>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-date-range-picker #picker></mat-date-range-picker>
                            </mat-form-field>
                        </form>

                        <button *ngIf="!(auth.isAuthenticated$ | async)" disabled style="margin-left: 2%" (click)="reserveHouse()" type="button"
                        class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">Login to make a reserve</button>

                        <button *ngIf="!paymentstatus && (auth.isAuthenticated$ | async) " style="margin-left: 2%" (click)="reserveHouse()" type="button"
                        class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">Reserve now
                        </button>
                    </div>
    
                    <div>
                        <div>
                            <button *ngIf="paymentstatus == 'loading'" style="margin-left: 2%" disabled type="button"
                                class="btn btn-outline-primary" data-toggle="button" aria-pressed="false"
                                autocomplete="off">Loading...
                            </button>
                            <form id="payment-form"></form>
                        </div>

                        <div *ngIf="house.Bookings.length > 0">
                            <h2 class="text">This place is not available on this dates:</h2>
                                <div  *ngFor="let book of house.Bookings">
                                    <h1 class="info">&#x26A0; From {{book.start}} to {{book.end}}</h1>
                                </div>
                        </div>
    
                        <div *ngIf="house.Bookings.length === 0">
                            <h3>&#x263A; This house is all year available</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer [ngClass]="darkmode? 'footer darkmode':'footer'">Rent-Ten - made with ♥ by group 10 of FT-30A at SoyHenry.</footer>
</div>
