<div class="wrapper">
    <div class="topdiv">
        <button class="button" routerLink="/home">🡠</button>
        <img class="mainimg" src="{{house.picture[3]}}" alt="Pic1">

        <div class="sidediv">
            <div class="rtopdiv">
                <img class="sideimg" src="{{house.picture[1]}}" alt="Pic1">
                <img id="upcornerimg" class="sideimg" src="{{house.picture[1]}}" alt="Pic3">
            </div>
            <div class="rbotdiv">
                <img class="sideimg" src="{{house.picture[1]}}" alt="Pic4">
                <img id="botcornerimg" class="sideimg" src="{{house.picture[1]}}" alt="Pic5">
            </div>
        </div>
    </div>
</div>
<div class="body">
    <div class="col">
        <h3 class="location">{{house.country}}, {{house.city}}</h3>
        <p class="info">{{house.rooms}} room/s</p>
        <p class="info">{{house.bathrooms}} bathroom/s</p>
        <!-- <h3 class="info">
            <div *ngIf="house.allowpets as value; else elseBlock">Pets: ✓</div>
            <ng-template #elseBlock>Pets: ✕</ng-template>
        </h3> -->
        <h3 class="info">
            <span *ngIf="house.allowpets as value; else elseBlock">Pets: <span style="color: green">✓</span></span>
            <ng-template #elseBlock>Pets: <span style="color: red">✕</span></ng-template>
            <span style="margin-left: 5%"><span *ngIf="house.wifi as value; else elseBlockwifi">Wi-Fi: <span
                        style="color: green">✓</span></span>
                <ng-template #elseBlockwifi>Wi-Fi: <span style="color: red">✕</span></ng-template>
            </span>
        </h3>
        <h3 class="info">Occupants: {{house.maxpeople}} </h3>
        <h3 class="price" *ngIf="house.country"> USD ${{house.price}}</h3>
    </div>
</div>


<div class='container' style="display: flex; margin-top: 5%; align-items: center; justify-content: center;">

    <div style="min-width:300px; margin-right: 100px; margin-bottom: 5%;">
        <hr/>
        <H2>Make a booking:</H2>
        <form [formGroup]="form">
            <mat-form-field>

                <mat-date-range-input [rangePicker]="picker" [dateFilter]="unavailableDays" formGroupName="daterange">
                    <input matStartDate placeholder="start date" formControlName="start">
                    <input matEndDate placeholder="end date" formControlName="end">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>

            </mat-form-field>
        </form>

        <button [disabled]="!pagado" *ngIf="form.value.daterange.start && this.form.value.daterange.end" type="button"
            (click)="reserveHouse()" class="btn btn-outline-info">Reserve now</button>
        <button *ngIf="!(form.value.daterange.start && this.form.value.daterange.end)" disabled type="button"
            class="btn btn-outline-info">Pick a date and pay</button>


        <button style="margin-left: 2%" *ngIf="pagado" (click)="pagar()" type="button"
            class="btn btn-outline-success active" data-toggle="button" aria-pressed="true"
            autocomplete="off">PAGADO</button>
        <button style="margin-left: 2%" *ngIf="!pagado" (click)="pagar()" type="button" class="btn btn-outline-success"
            data-toggle="button" aria-pressed="false" autocomplete="off">PAGAR</button>

    </div>

    <div *ngIf="house.bookings">
        <h4>&#x26A0; This house has bookings on this dates:</h4>
        <ul>
            <li *ngFor="let book of house.bookings">
                &#x2714; From: {{book.start}} &#x27A4; To: {{book.end}}
            </li>
        </ul>
    </div>

    <div *ngIf="!house.bookings">
        <h3>&#x263A; This house is all year available</h3>
    </div>

</div>



<div class="row">
    <app-reviews></app-reviews>
</div>

<!-- <mat-grid-list cols="2" rowHeight="2:1" style="background-color: white">
    <mat-grid-tile>
        <div class="gridUno">
            <div>
                <ngb-carousel *ngIf="house.picture.length">
                    <ng-template ngbSlide>
                        <div class="picsum-img-wrapper">
                            <img src={{house.picture[0]}} alt="Random first slide" />
                        </div>
                        <div class="carousel-caption">
                            <h3>First slide label</h3>
                            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <div class="picsum-img-wrapper">
                            <img src={{house.picture[1]}} alt="Random second slide" />
                        </div>
                        <div class="carousel-caption">
                            <h3>Second slide label</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <div class="picsum-img-wrapper">
                            <img src={{house.picture[3]}} alt="Random third slide" />
                        </div>
                        <div class="carousel-caption">
                            <h3>Third slide label</h3>
                            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class='containerGritDos'>
            <div>
                <mat-card-content>
                    <mat-card-title>{{house.id}}</mat-card-title>
                    <br>
                    <mat-card-content>Located: {{house.country}}, {{house.city}}</mat-card-content>
                    <br>
                    <mat-card-content>It has: {{house.rooms}} Rooms | {{house.bathrooms}} Bathrooms
                    </mat-card-content>
                    <br>
                    <div *ngIf="house.allowpets as value; else elseBlock">Pet friendly: Yes</div>
                    <ng-template #elseBlock>Pet friendly: Not</ng-template>
                    <br>
                    <mat-card-content>Maxpeople: {{house.maxpeople}}</mat-card-content>
                    <br>
                    <h3>{{house.price}} USD</h3>
                    <br>
                    <br>
                    <br>
                </mat-card-content>
            </div>

        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="gridFechas">
            <div>
                <h1>Arrival</h1>
            </div>

            <div>
                <mat-card>
                    <div>
                        <div>
                            <form [formGroup]="form">
                                <mat-form-field>
                                    <mat-date-range-input [rangePicker]="picker" [dateFilter]="unavailableDays"
                                        formGroupName="daterange">
                                        <input matStartDate placeholder="start date" formControlName="start">
                                        <input matEndDate placeholder="end date" formControlName="end">
                                    </mat-date-range-input>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-date-range-picker #picker></mat-date-range-picker>
                                </mat-form-field>
                            </form>
                            <div *ngIf="house.bookings">
                                <h3>&#x26A0; This house has bookings on this dates:</h3>
                                <div>
                                    <ul>
                                        <li *ngFor="let book of house.bookings">
                                            &#x2714; From: {{book.start}} &#x27A4; To: {{book.end}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>
            <br>
            <br>
            <div>
                <button type="button" class="btn btn-outline-info">Book this house</button>
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
    </mat-grid-tile>
</mat-grid-list> -->