@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

.wrapper{
    background-color: #fafafa;
    margin: 0 auto;
    width: 80%;
}

.background{
    position: relative;
    margin: 0 auto;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("../../../assets/background.jpg");
    border-left: 1px solid #96969681;
    border-right: 1px solid #96969681;
}  

/* ////////GALERÍA//////// */
.gallery{
    animation: fadein 2s;
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    margin: 0 auto;
    margin-bottom: 2rem;
    width: 82%;
}

.topdiv{
    display:flex;
    margin: 0 auto;
    margin-top: 5rem;
}

.button{
    position: absolute;
    border:none;
    background-color: black;
    color: white;
    padding-top: 6px;
    font-size: 18px;
    font-weight: 100;
    width: 50px;
    height: 50px;
    border-radius: 30px 0px 20px 0px;
    opacity: 60%;
    transition: 0.5s;
}

.button:hover{
    opacity: 100%;
}

.mainimg{
    height: 25rem;
    width: 37.5rem;
    border-radius: 30px 0px 0px 30px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px 0px;
    background-size: cover;
    transition: all 0.2s;
}

.rows{
    display: flex;
    flex-direction: row;
}

.column{
    display: flex;
    flex-direction: column;
}

.sideimg{
    display: block;
    cursor: pointer;
    background-size: cover;
    height: 8rem;
    width: 12rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px 0px;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    opacity: 0.75;
}

.sideimg:hover{
    transition: 0.5s;
    opacity:100%;
}

.active{
    border: 2px solid rgba(34, 34, 34, 0.6);
    opacity: 1;
}

.upcornerimg{
    border-radius: 0px 30px 0px 0px;
}

.botcornerimg{
    border-radius: 0px 0px 30px 0px;
}

/* ////////HOUSEINFO//////// */
.body{
    width: 100%;
    margin-left: 11rem;
    margin-top: 1rem;
    animation: fadein 2s;
    margin: 0 auto;
    height: 20rem;
    width: 82%;
    justify-content: space-evenly;
}

.location{
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 20px;
}

.flex{
    display: flex;
}

.flex app-reviews{
    position: relative;
    top: 1rem;
    left: 10%;
    height: 2rem;
    width: 20rem;
}

.info{
    font-size: 20px;
    font-weight: 100;
    font-family: Arial, Helvetica;
    color: gray;
    margin-bottom: 4px;
}

.price{
    position: flex;
    color: rgb(23, 59, 3);
    font-size: 30px;
    font-weight: 400;
}

.infodiv{
    width: 40%;
}

.bookingdiv{
    display:flex;
    flex-direction: column;
    width: 50%;
}

.booking{
    display: flex;
    justify-content: center;
    border: 1px solid #A4A4A4;
    border-radius: 1rem;
    margin-top: 0.5rem;
    padding: 1rem;
    width: 35rem;
}

.makebooking{
    margin-right: 1rem;
    padding-right: 1rem;
    border-right: 1px solid #A4A4A4;
}

.text{
    font-size: 20px;
    font-weight: 400;
}

.footer{
    width: 100%;
    background-color: #fafafa;
    border-top: 1px solid #A4A4A4;
    display: flex;
    justify-content: center;
    padding-top:1.9rem;
    height: 1.5rem;
}