.housecard {
  width: 250px;
  height: 400px;
  transition: all 0.3s;
  animation: fadein 2s;
  border-radius: 0.75rem 0.75rem 0.75rem 0.75rem;
  height: 100%;
}

/* .darkmode {
  background-color: #303030;
  color: white;
   transition: all 1s;
}
.darkmode .info {
  font-weight: 100;
  color: white;
  margin: -4px;
} */

.housecard:hover .image {
  transition: 0.5s;
  opacity: 70%;
}

.margin {
  margin-bottom: -1.2rem;
}

.updiv {
  display: flex;
  margin-bottom: -15px;
}

.updiv:hover .carrouselbutton {
  background-color: white;
}

.carrouselbutton {
  display: flex;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.176);
  border-radius: 15px;
  transition: 0.3s all;
}

#leftarrow {
  position: relative;
  bottom: 40%;
  left: 4%;
  color: black;
}

.image {
  height: 200px;
  width: 250px;
  border-radius: 15px 15px 0px 15px;
  transition: 0.5s;
}

#rightarrow {
  position: relative;
  bottom: 48%;
  left: 86%;
  color: black;
}

.firstdiv {
  display: flex;
  margin-top: -4.4rem;
  margin-bottom: -0.8rem;
}

.namediv {
  width: 88%;
  margin-top: 4px;
  margin-left: 5px;
}

.name {
  font-size: 18px;
}

.favdiv {
  width: 100%;

  display: flex;
  justify-content: flex-end;

  position: relative;
  top: 33px;
  right: 0px;
}

.favourites {
  height: 36px;
  width: 30px;
  font-size: 16px;
  font-weight: 100;
  border-top: none;
  border-radius: 0px 0px 20px 20px;

  cursor: pointer;
  transition: 0.25s;
  background-color: #fde497;
}

#addfav {
  transition: 0.25s;
  color: #ffc107;
  border: 2px solid #ffc107;
  border-top: none;
  border-color: #ffc107;
  background-color: none;
}

#addfav svg {
  animation: dislike 0.5s 1;
}
#addfav:hover {
  transition: 0.25s;
  height: 2.5rem;
  background-color: #ffc107;
}

#removefav {
  transition: 0.25s;
  height: 2.5rem;
  border: none;
  background-color: #ffc107;
  transition: 0.5s all;
}

#removefav svg {
  animation: like 0.5s 1;
}

#removefav:hover {
  transition: 0.25s;
  color: white;
  background-color: #dc3545;
}

.heartsvg {
  width: 0.8rem;
  padding-right: 0.1rem;
  fill: #d6a410;
  transition: all 0.2s;
}

.favourites:hover .heartsvg {
  fill: rgb(126, 0, 0);
}

#favsvg {
  margin-left: 0.1rem;
  fill: rgb(126, 0, 0);
}

@keyframes like {
  0% {
    transform: scale(1);
  }

  90% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1.1);
  }
}
@keyframes dislike {
  0% {
    transform: scale(1.1);
  }

  90% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.botdiv {
  display: flex;
  flex-direction: column;
}

.info {
  font-weight: 100;
  color: gray;
  margin: -0.2rem;
  margin-left: 0.25rem;
}

.price {
  color: rgb(23, 59, 3);
  font-weight: 400;
  margin-left: 0.25rem;
}

ngb-rating {
  position: relative;
  top: -4rem;
  left: 0rem;
  background-color: #ffffff97;
  padding: 0.3rem;
  border-radius: 0rem 0.75rem 0rem 0.75rem;
  font-size: 1.1rem;
}
.darkmode .price {
  color: rgb(55, 151, 4);
}
