<div class="cardContainer">
    <div class="row align-items-start">
        <div class="col">
            <div class="imgCards">
                <mat-card-actions>
                    <!-- <button (click)="showInfo()"></button> -->
                    <mat-icon (click)="paginationBack()">navigate_before</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a routerLink="/housedetail/{{house.id}}">
                        <img mat-card-lg-image [src]="giveMePhoto()" />
                    </a>
                    &nbsp;&nbsp;&nbsp;&nbsp; <mat-icon (click)="paginationForward()">navigate_next</mat-icon>
                </mat-card-actions>


            </div>
            <div>
                <!-- <li>{{house.id}}</li> -->
                <mat-card-content>
                    {{house.city}}, {{house.country}}
                    <mat-card-subtitle>{{house.rooms}} Rooms, {{house.bathrooms}} Bathrooms,
                    </mat-card-subtitle>
                    <mat-card-subtitle>
                        <div *ngIf="house.allowpets as value; else elseBlock">Pet friendly: Yes</div>
                        <ng-template #elseBlock>Pet friendly: Not</ng-template>
                    </mat-card-subtitle>
                    <mat-card-subtitle>Maxpeople: {{house.maxpeople}} </mat-card-subtitle>
                </mat-card-content>
                <mat-card-subtitle *ngIf="house.country">{{house.price}} USD</mat-card-subtitle>
                <mat-card-footer>
                    <mat-card-actions>
                        <button *ngIf="checkIsFavorite(house.id) === false" class="btn btn-outline-warning"
                            (click)="setFavorite(house.id, dbProfile.id)">
                            Add to favorites
                        </button>
                        <button *ngIf="checkIsFavorite(house.id) === true" class="btn btn-outline-danger"
                            (click)="deleteFavorite(house.id, dbProfile.id)">
                            Delete from favorites
                        </button>
                    </mat-card-actions>
                </mat-card-footer>
            </div>

        </div>
    </div>
</div>