
// .darkmode{
//   background-color: #303030;
//   color: white;
//   transition: all 0.5s;
// }
.zindex{
  position: relative;
  z-index: +1;
}

.container-all{
  position: relative;
  padding-bottom: 3.6em;
}
