.chatContainer{
  padding: 30px;
  width: 23rem;
  height: 30rem;

  display: flex;
  flex-direction: column;
  padding-bottom: 70px;
  background-color: grey;
}
.inputContainer{
  form{
    input{
      width: 23rem;
      height: 2.5rem;
    }
  }
}
.local{
  background-color:red;
}
.remoto{
  align-self: flex-end;
}

.container-imgChat{
  align-self: flex-end;
  background-color: black;
  border-radius: 100%;
  width: 5rem;
  height: 5rem;
  display: flex;
  .imgChat{
    align-self: center;
    justify-self: center;
    width: 80%;
    height: 80%;

    border-radius: 100%;
  }
}
.hiddeChat{
  display: none;
}
.showChat{
  display: block;
}
