<div style="margin-top: 1rem;">
  <button class="btn btn-secondary" (click)="back()">Back</button>
  <h3>Total active users: {{users.length}}</h3>
</div>
<div>
  <ngb-pagination class="d-flex justify-content-center" [(page)]="page" [pageSize]="pageSize"
    [collectionSize]="users.length"></ngb-pagination>
</div>
<table class="table table-striped">
  <thead>
    <tr class="table-primary">
      <th scope="col">#id</th>
      <th scope="col">e-mail</th>
      <th scope="col">Name</th>
      <th scope="col">Last</th>
      <th scope="col">Authorized</th>
      <th scope="col">Disable</th>
      <th scope="col">Admin</th>
      <th scope="col">Set Admin</th>


    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users | slice:(page-1) * pageSize:(page-1) * pageSize + pageSize">
      <th scope="row">{{user.id}}</th>
      <td>{{user.mail}}</td>
      <td>{{user.name}}</td>
      <td>{{user.lastname}}</td>
      <td>{{user.authorized}}</td>
      <td><button class="b0uttons" class="btn btn-danger" (click)="desactiveAccount(user.id)">x</button></td>
      <td>{{user.admin}}</td>
      <td>
      <button *ngIf="userProfile.mail ==='rentten2022@gmail.com' && !user.admin" class="buttons" class="btn btn-success"  (click)="setAdmin(true,user.id)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
      </svg></button>
      <button *ngIf="userProfile.mail ==='rentten2022@gmail.com'&& user.admin" class="buttons" class="btn btn-danger" (click)="setAdmin(false, user.id)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
      </svg></button></td>
    </tr>
  </tbody>
</table>
