<h5>Total active users: {{users.length}}</h5>


<table class="table">
  <button (click)="back()">Back</button>
  <thead>
    <tr>
      <th scope="col">#id</th>
      <th scope="col">e-mail</th>
      <th scope="col">Name</th>
      <th scope="col">Last</th>
      <th scope="col">Country</th>
      <th scope="col">Authorized</th>
      <th scope="col">Disable</th>
      <!-- <th scope="col">e-mail</th> -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <th scope="row">{{user.id}}</th>
      <td>{{user.mail}}</td>
      <td>{{user.name}}</td>
      <td>{{user.lastname}}</td>
      <td>{{user.Country}}</td>
      <td>{{user.authorized}}</td>
      <td>
        <button class="buttons" class="btn btn-danger" (click)="desactiveAccount(user.id)">x</button>
      </td>
    </tr>
    <!--    <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td> 
      </tr> -->
  </tbody>
</table>

<button (click)="showInfo()">show</button>