/* .slider_priceval {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
} */


.alternativecont {
    display: flex;
    gap: 10px;
    /* grid-template: repeat(2, 1fr) / repeat(2, 1fr); */
    width: fit-content;
    margin-left: -2rem;
    margin-right: -2rem;
    /* grid-auto-flow: column; */
    grid-template-columns: fit-content 100%;
    width: 100%;
}

.background{
    position: relative;
    margin: 0 auto;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("../../../../assets/background.jpg");
    border-left: 1px solid #96969681;
    border-right: 1px solid #96969681;
  }


.slider {
    width: auto;
    display: grid;
    width: 100%;
    grid-template-columns: 10% 80% 10%;
    justify-items: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.cards_cont {
    display: flex;
    justify-items: center;
    justify-content: center;
    width: auto;
    column-gap: 3%;
    gap: 5%;
    grid-template-columns: 20% 20% 20% 20% 20%
}

.card {
    /* border-style: none;
    border-width: 0px; */

    /* width: fit-content;
    margin-left: 0rem;
    border-left: 1px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
    padding: 0.5rem */

}


.slid_right {
    font-size: 3rem;
    justify-items: center;
    justify-content: center;
    vertical-align: middle;
    display: flex;
    margin-bottom: 20%;
    align-items: center;
    transition: all 1s;
    color: rgb(104, 104, 104);
    /* margin-left: 15rem; */
}

.slid_right:hover {
    color: rgb(44, 44, 44);
    transform: scale(1.3);
}

.slid_left {
    font-size: 3rem;
    justify-items: center;
    justify-content: center;
    vertical-align: middle;
    display: flex;
    margin-bottom: 20%;
    align-items: center;
    align-items: center;
    transition: all 1s;
    color: rgb(104, 104, 104);
    /* margin-right: 15rem; */
}

.slid_left:hover {
    color: rgb(44, 44, 44);
    transform: scale(1.3);
}

.slider_title {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    background-color: rgba(189, 188, 188, 0.096);
    align-items: center;
}

.slider_title_text {
    margin-left: 3%;
}
