/* .slider_priceval {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
} */

.alternativecont {
  display: flex;
  gap: 10px;
  min-height: 100vh;
  width: fit-content;
  margin: 0 auto;
  padding-top: 60px;
  width: 100%;
  border-radius: 20px;
  background-color: #fafafa;
}
.alternativecont.darkmode {
  background-color: #303030;
}

.slider {
  width: auto;
  display: grid;
  width: 100%;
  grid-template-columns: 10% 80% 10%;
  justify-items: center;
  justify-content: center;
  align-items: center;
}

.cards_cont {
  display: flex;
  justify-items: center;
  justify-content: center;
  width: auto;
  column-gap: 3%;
  gap: 5%;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

.darkmode h1 {
  color: white;
}

.slid_right {
  font-size: 3rem;
  justify-items: center;
  justify-content: center;
  vertical-align: middle;
  display: flex;
  margin-bottom: 20%;
  align-items: center;
  transition: all 1s;
  color: rgb(104, 104, 104);
  /* margin-left: 15rem; */
}

.slid_right:hover {
  color: rgb(44, 44, 44);
  transform: scale(1.3);
}

.slid_left {
  font-size: 3rem;
  justify-items: center;
  justify-content: center;
  vertical-align: middle;
  display: flex;
  margin-bottom: 20%;
  align-items: center;
  transition: all 1s;
  color: rgb(104, 104, 104);
  /* margin-right: 15rem; */
}

.slid_left:hover {
  color: rgb(44, 44, 44);
  transform: scale(1.3);
}

.slider_title {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 400;
  color: rgb(37, 37, 37);
  background-color: rgba(189, 188, 188, 0.499);
  display: flex;
  justify-content: center;
  height: 60px;
  width: 100%;
  align-items: center;
}

.slider_title_text {
  margin-left: 3%;
}
