.wrapper {
  display: flex;
  margin: 0 auto;
}

.isCoverPhoto {
  border: 4px solid rgb(0, 0, 55);
}

.labelCoverPhoto {
  color: rgba(0, 0, 0, 0.814);
}

.container_form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90vh;
  background-image: url('../../../assets/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

.createhouse{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50vw;
  height: 100vh;
  padding: 30px;
  background-color: #fafafa;
}

  .form_creation {
    .typediv{
      display: flex;
      flex-direction: column;
      margin-bottom: 40px;

      label {
        align-self: center;
        font-size: 1.3rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
      }

      select {
        width: 15rem;
        height: 2rem;
        align-self: center;
        border-radius: 3px;
        option {
          font-size: 1.3rem;
        }
      }
    }
    .container_price {
      margin: 2rem 0;
      display: flex;
      justify-content: center;
      align-items: center;
      label {
        font-size: 1.3rem;
        margin-right: 1rem;
      }
      input {
        width: 3rem;
        height: 2rem;
        font-size: 1.1rem;
        margin-right: 0.5rem;
      }
      span {
        font-size: 1rem;
      }
    }
    .container_services {
      display: flex;
      justify-content: center;
      justify-content: space-evenly;
      margin-bottom: 2rem;
      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        span {
          font-size: 1.2rem;
        }
        .switch {
          margin-top: 0.5rem;
          position: relative;
          display: inline-block;
          width: 60px;
          height: 34px;
        }

        /* Hide default HTML checkbox */
        .switch input {
          opacity: 0;
          width: 0;
          height: 0;
        }

        /* The slider */
        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          -webkit-transition: 0.4s;
          transition: 0.4s;
        }

        .slider:before {
          position: absolute;
          content: "";
          height: 26px;
          width: 26px;
          left: 4px;
          bottom: 4px;
          background-color: white;
          -webkit-transition: 0.4s;
          transition: 0.4s;
        }

        input:checked + .slider {
          background-color: #2196f3;
        }

        input:focus + .slider {
          box-shadow: 0 0 1px #2196f3;
        }

        input:checked + .slider:before {
          -webkit-transform: translateX(26px);
          -ms-transform: translateX(26px);
          transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
          border-radius: 34px;
        }

        .slider.round:before {
          border-radius: 50%;
        }
      }
    }
    .container_location {
      display: flex;
      justify-content: center;
      justify-content: space-around;
      div {
        display: flex;
        flex-direction: column;
        label {
          font-size: 1.3rem;
          align-self: center;
          margin: 0.5rem 0;
        }
        select {
          width: 12rem;
          height: 2.5rem;
          option {
            font-size: 1.3rem;
          }
        }
      }
    }
    .container_roomsAndGuest {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      .roomsAndGuest {
        display: flex;
        flex-direction: column;
        label {
          font-size: 1rem;
          font-weight: bold;
        }
        div {
          align-self: center;
        }
      }
    }
    .submit {
      position: absolute;
      left: 39.5%;
      margin-top: 0.5rem;
      width: 9rem;
      padding: 0.8rem;
      font-size: 1.2rem;
      background-color: rgb(193, 192, 192);
      align-self: flex-end;
      border-radius: 3px;
    }

    button svg {
      transition: all 0.1s;
      fill: rgba(0, 0, 0, 0.79);
    }

    .disabled svg {
      fill: rgba(0, 0, 0, 0.573);
    }

    .disabled svg:hover {
      fill: rgba(0, 0, 0, 0.79);
      transform: scale(1);
      cursor: not-allowed;
    }

    button svg:hover {
      transform: scale(1.05);
      fill: rgb(0, 0, 0);
    }

    svg {
      width: 2rem;
      height: 2rem;
    }

    input {
      width: 3rem;
    }

    button {
      border: 0;
      background-color: rgba(128, 128, 128, 0);
    }
  }
}
