input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.background{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 130vh;
  background-image: url('../../../assets/background.jpg');
  background-position: center;
  background-size: cover;
}

.createhouse{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 130vh;
  width: 60%;
  background-color: #fafafa;
  margin: 0 auto;
  padding: 0px 40px 0px 40px;
}

.form{
  width: 100%;
}

.labelform{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #3a3a3a;
}

.selectform{
  height: 40px;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 8px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: #3a3a3a;
  background-color: #fafafa;
  border: 2px solid #0d6efd;
  border-radius: 20px;
  option{
    font-size: 20px;
  }
}

.error{
  color: rgb(162, 46, 46);
  font-size: 15px;
  font-weight: 500;
}

.firstdiv{
  display: flex;
  margin-top: 80px;
  width: 100%;
  .creatediv{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: none;
    margin: 0 auto;
    width: 100%;
    .typediv{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;
      padding-bottom: 50px;
      width: 100%;
      border-bottom: 1px solid #3a3a3a27;
    }

    .typeselect{
      height: 40px;
      width: 90%;
      border-radius: 5px;
      margin-bottom: 8px;
      text-align: center;
      font-size: 20px;
      font-weight: 500;
      color: #3a3a3a;
      background-color: #fafafa;
      border: 2px solid #0d6efd;
      border-radius: 20px;
      option{
        font-size: 20px;
      }
    }

    .locationdiv{
      display: flex;
      justify-content: center;
      margin-bottom: 30px;
      padding-bottom: 30px;
      width: 100%;
      border-bottom: 1px solid #3a3a3a27;
      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        margin-bottom: 20px;
      }
    }

    .pricediv{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 30px;
      margin-bottom: 30px;
      padding-bottom: 50px;
      width: 100%;
      border-bottom: 1px solid #3a3a3a27;
      div{
        margin-bottom: 8px;
      }
      input{
        height: 40px;
        width: 90px;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        color: rgb(38, 108, 38);
        background-color: #fafafa;
        border: 2px solid #3a3a3a9c;
        border-radius: 20px;
      }
      .pricelabel{
        font-size: 23px;
        font-weight: 500;
        margin-right: 10px;
        color: #3a3a3a;
      }
      .price{
        font-size: 20px;
        margin-left: 10px;
        color: rgb(38, 108, 38);
      }
    }

    
    .servicesdiv{
      display: flex;
      justify-content: space-around;
      margin-top: 10px;
      margin-bottom: 30px;
      padding-bottom: 50px;
      width: 100%;
      border-bottom: 1px solid #3a3a3a27;

      .labelswitch{
        font-size: 18px;
        font-weight: 500;
        margin-right: 30px;
        color: #3a3a3a;
      }

      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        margin-right: 20px;
        .switch {
          margin-top: 0.5rem;
          position: relative;
          display: inline-block;
          width: 60px;
          height: 34px;
        }

        /* Hide default HTML checkbox */
        .switch input {
          opacity: 0;
          width: 0;
          height: 0;
        }

        /* The slider */
        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          -webkit-transition: 0.4s;
          transition: 0.4s;
        }

        .slider:before {
          position: absolute;
          content: "";
          height: 26px;
          width: 26px;
          left: 4px;
          bottom: 4px;
          background-color: white;
          -webkit-transition: 0.4s;
          transition: 0.4s;
        }

        input:checked + .slider {
          background-color: #0d6efd;
        }

        input:focus + .slider {
          box-shadow: 0 0 1px #0d6efd;
        }

        input:checked + .slider:before {
          -webkit-transform: translateX(26px);
          -ms-transform: translateX(26px);
          transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
          border-radius: 34px;
        }

        .slider.round:before {
          border-radius: 50%;
        }
      }
    }
  }

  .numberdiv{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-bottom: 50px;
    width: 100%;
    border-bottom: 1px solid #3a3a3a27;
    div{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .numberlabel{
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 5px;
      color: #3a3a3a;
    }

    .inputdiv{
      height: 30px;
      display: flex;
      flex-direction: row;
      align-items: center;

      .button svg{
        fill: #0d6efd;
        height: 20px;
      }

      input{
        height: 30px;
        width: 100px;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        color: #3a3a3a;
        background-color: #fafafa;
        border: 2px solid #0d6efd;
        border-radius: 20px;
        margin: -10px;
      }
    }
  }
}

hr{
  margin-bottom: 80px;
}

.dropzone{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

ngx-dropzone{
  width: 100%;
}

.submit {
  margin-top: 30px;
  height: 50px;
  width: 200px;
  color: white;
  font-size: 20px;
  background-color: #0d6efd;
  border-radius: 20px;
}

button svg {
  transition: all 0.1s;
  fill: rgba(0, 0, 0, 0.79);
}

.disabled svg {
  fill: rgba(0, 0, 0, 0.573);
}

.disabled svg:hover {
  fill: rgba(0, 0, 0, 0.79);
  transform: scale(1);
  cursor: not-allowed;
}

button svg:hover {
  transform: scale(1.05);
  fill: rgb(0, 0, 0);
}

svg {
  width: 2rem;
  height: 2rem;
}

input {
  width: 3rem;
}

button {
  border: 0;
  background-color: rgba(128, 128, 128, 0);
}

.labelCoverPhoto {
  color: rgb(255, 255, 255);
  background-color: #3a3a3a66;
  padding: 10px;
  border-radius: 5px;
}

@media only screen and (max-width: 1100px) {
  .createhouse{
    flex-wrap: wrap;
  }
  .typediv{
    flex-wrap: wrap;
  }
  .locationdiv{
    flex-wrap: wrap;
  }
  .pricediv{
    flex-wrap: wrap;
  }
  .servicesdiv{
    flex-wrap: wrap;
  }
  .numberdiv{
    flex-wrap: wrap;
  }
  .background{
    height: 150vh;
  }
  .createhouse{
    height: 150vh;
  }
}

@media only screen and (max-width: 877px) {
  .background{
    height: 170vh;
  }
  .createhouse{
    height: 170vh;
  }
}

@media only screen and (max-width: 750px) {
  .background{
    height: 180vh;
  }
  .createhouse{
    height: 180vh;
  }
  .numberdiv{
    div{
      margin-bottom: 20px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .background{
    height: 185vh;
  }
  .createhouse{
    height: 185vh;
  }
}