<h5>Total deleted users: {{users.length}}</h5>


<table class="table">
  <button (click)="back()">Back</button>
  <thead>
    <tr>
      <th scope="col">#id</th>
      <th scope="col">e-mail</th>
      <th scope="col">Name</th>
      <th scope="col">Last</th>
      <th scope="col">Country</th>
      <th scope="col">authorized</th>
      <th scope="col">Activate</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <th scope="row">{{user.id}}</th>
      <td>{{user.mail}}</td>
      <td>{{user.name}}</td>
      <td>{{user.lastname}}</td>
      <td>{{user.Country}}</td>
      <td>{{user.authorized}}</td>
      <td>
        <button class="buttons" class="btn btn-danger" (click)="desactiveAccount(user.id)">x</button>
      </td>
    </tr>