.wrapper{
  display: flex;
  align-items: center;
  height: 3.5rem;
}

.leftdiv{
  display: flex;
  justify-content: space-between;
  width: 65%;
}

.logo{
  width: 4rem;
  margin-left: 1rem;
}

.host{
  margin-left: 5rem;
}

.rightdiv{
  display: flex;
  justify-content: flex-end;
  width: 35%;
}
.rightdiv a{
  align-self: center;
}

.profile img{
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.switch{
  align-self: center;
  background-color: #343d5b;
  border-radius: 1000px;
  border: none;
  cursor: pointer;
  width: 3.8rem;
  outline: none;
  display: flex;
  align-items: center;
  position: relative;
  height: 30px;
  transition: .8s all;
  margin: 0rem .7rem;
}

.switch::after{
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: #f1f1f1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  transition: .3s ease all;
  box-shadow: 0 0 2px rgba(0, 0, 0, .2);
}

.switch.active {
  background-color: orange;
}

.switch.active::after{
  right: 0;
  left: unset;
}

.switch span{
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: #fff;
}
.switch svg{
  width: 1rem;
}

.darkmode{
  background-color: rgba(0, 0, 0, 0.585);
  transition: all 1s;
  color: white;
}
.darkmode .myFavorites{
  background-color: #3A3A3A;
  color: white;
  transition: all 1s;
}
.darkmode .myFavorites:hover{
  color: blue;
}

.myFavorites{
  width: 8rem;
  height: 2.2rem;
  background-color: #DFDFDF;
  border: 0;
  border-radius: 3px;
  font-size: 0.9rem;
  font-weight: 500;
  align-self: center;
}
.myFavorites:hover{
  color: blue;
}
