.reviewshead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.headtitle {
  font-size: 30px;
  margin-top: 20px;
}

.ptitle {
  margin-top: -0.5rem;
  font-size: 16px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.modalbutton {
  height: 30px;
  width: 35px;
  color: #000;
  background: none;
  border: 0;
  font-size: 20px;
}

#closemodal {
  position: absolute;
  top: 0.7rem;
  left: 90%;
}

.reviewsbody {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-top: 30px;
}

.review {
  margin-left: -10px;
  margin-bottom: 20px;
}

ngb-rating {
  position: relative;
  top: 2px;
  background-color: #a7a7a756;
  color: rgb(52, 52, 52);
  padding: 6px;
  border-radius: 15px;
  font-size: 1.1rem;
  justify-content: center;
  width: 110px;
}

.user {
  margin-left: 7px;
  font-weight: 600;
  font-size: 15px;
  color: rgb(52, 52, 52);
}

.opinion {
  font-size: 17px;
  margin-top: 13px;
  margin-bottom: 13px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.reviewbutton {
  height: 60px;
  font-size: 25px;
  color: #0d6efd;
  background-color: #fafafa;
  margin: 0 auto;
  padding-bottom: 5px;

  border-top: 1px solid #0d6efd;
  border-bottom: 1px solid #0d6efd;
  border-left: none;
  border-right: none;
  border-radius: 10px 10px 0px 0px;
  transition: all 0.2s;
}

.reviewbutton:hover {
  color: #fafafa;
  background-color: #0d6efd;
}

#postbutton {
  border-top: none;
  border-radius: 0px 0px 10px 10px;
}

/* ///////////////////////////////////////// POST REVIEW MODAL /////////////////////////////////////////// */

.postreview {
  margin: 0 auto;
}

.rating {
  margin-right: 10px;
  font-size: 18px;
}

.your-review {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 10px;
  margin-top: 20px;
}

.your-review:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.error {
  font-size: 15px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: red;
  margin-top: 10px;
  margin-left: -5px;
}

/* ////////////////////////////////////////////////////////  RESPONSIVE  //////////////////////////////////////////////////////// */

@media only screen and (max-width: 1800px) {
  .reviewbutton {
    height: 60px;
    font-size: 25px;
  }
}

@media only screen and (max-width: 1450px) {
}

@media only screen and (max-width: 1200px) {
  .reviewbutton {
    width: 80%;
    height: 50px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 900px) {
}

@media only screen and (max-width: 650px) {
  .reviewbutton {
    height: 40px;
  }
}

@media only screen and (max-width: 500px) {
  .reviewbutton {
    height: 30px;
    font-size: 15px;
  }
}
/* ////////////////////////////////////////////////////////  RESPONSIVE  //////////////////////////////////////////////////////// */

.darkmode {
  background-color: #303030;
  color: white;
}
.darkmode #closemodal {
  color: white;
}

.darkmode .review ngb-rating {
  color: white;
}
.darkmode .review .user {
  color: white;
}
.darkmode .review .opinion {
  color: white;
}

.darkmodeContainer .reviewbutton {
  background-color: rgba(94, 158, 255, 0.2078431373);
  color: white;
}

.darkmodeContainer .reviewbutton:hover {
  background-color: rgba(94, 159, 255, 0.521);
  color: white;
}

.darkmodeLetReview {
  background-color: #303030;
  color: white;
}
.darkmodeLetReview ngb-rating {
  color: white;
}
.darkmodeLetReview button {
  background-color: rgba(94, 158, 255, 0.514);
  color: white;
}
.darkmodeLetReview #closemodal {
  border-radius: 6px;
}
.darkmodeLetReview button:hover {
  background-color: rgba(94, 158, 255, 0.6);
}
.darkmodeLetReview #closemodal:hover {
  background-color: rgba(94, 158, 255, 0.6);
}
