<div class='row' *ngIf="house.Reviews">
    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">All reviews</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <form>
                <div class="mb-3">

                    <ng-container>
                        <div *ngFor="let review of house.Reviews">
                            <span style="font-size: 15px;">{{review.userEmail}} /
                                <span style="color:grey; font-size: 10px;">{{returnDate(review.createdAt)}}</span>
                                wrote: </span>
                            <br />
                            <ngb-rating [max]="5" [(rate)]="review.rating" [readonly]="true"></ngb-rating>
                            <p>{{review.opinion}}</p>
                        </div>

                    </ng-container>

                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
        </div>
    </ng-template>


    <ng-template #letReview let-modal>
        <div class="modal-header">
            <button id="closeModalButton" type="button" class="btn-close" aria-label="Close"
                (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <form>
                <div class="mb-3">

                    <ng-container>
                        <h4 class="modal-title" id="modal-basic-title">Tell us about your experience in this place</h4>
                        <div class="input-group, row">

                            <div class="row">
                                <h1>
                                    <ngb-rating (rateChange)=getRating($event) [max]="5"></ngb-rating>
                                </h1>
                            </div>

                            <textarea (input)=setReview($event) style="height: 12rem" aria-label="Username"
                                class="form-control" placeholder="Enter your review"></textarea>
                        </div>
                        <p style="color: red">{{errors}}</p>
                    </ng-container>

                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="postNewReview()">Post</button>
        </div>
    </ng-template>


    <button class="btn btn-lg btn-outline-primary" (click)="openModal(content)">Reviews</button>
    <button *ngIf="ableToPostReview" class="btn btn-lg btn-outline-primary" (click)="openLetReviewModal(letReview)">Post your experience!</button>
</div>